.about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.about__content {
  color: var(--clr-slate);
  gap: 1rem;
}

.about__title {
  text-align: center;
  color: var(--clr-light);
  font-size: var(--size-2xl);
  text-shadow: 2px 2px var(--clr-blue800), 3px 3px var(--clr-blue800),
    4px 4px var(--clr-blue800), 5px 5px var(--clr-blue800);
  margin-bottom: 2rem;
}

.about__intro {
  gap: 1rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.about__subtitle {
  color: var(--clr-light);
  font-size: var(--size-lg);
  margin: 1rem;
}

.about__ul-container {
  display: flex;
}

.about__ul {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  list-style: none;
  flex: 1;
  color: var(--clr-slate);
}

.about__list::before {
  content: "\2713";
  color: var(--clr-blue400);
  font-size: var(--size-xl);
  margin-left: 1em;
}

@media (min-width: 475px) {
  .about {
    gap: 1.5rem;
  }

  .about__content {
    gap: 1.5rem;
  }

  .about__title {
    font-size: var(--size-3xl);
  }

  .about__subtitle {
    font-size: var(--size-lg);
  }
}
